# =========================
# WORDPRESS
# =========================
WORDPRESS_PORT=8080

WP_DB_NAME=wp_db
WP_DB_USER=wp_user
WP_DB_PASSWORD=wp_pass
WP_DB_HOST=db:3306

# =========================
# MYSQL
# =========================
MYSQL_ROOT_PASSWORD=root_pass

# =========================
# PHPMYADMIN
# =========================
PHPMYADMIN_PORT=8081