# =========================
# WORDPRESS
# =========================
WORDPRESS_PORT=8080

WP_DB_NAME=
WP_DB_USER=
WP_DB_PASSWORD=
WP_DB_HOST=db:3306

# =========================
# MYSQL
# =========================
MYSQL_ROOT_PASSWORD=

# =========================
# PHPMYADMIN
# =========================
PHPMYADMIN_PORT=8081